@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');

html, body {
    margin: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.content {
    background-color: #eaeaea;
}

.contentContainer {
    background-color: blueviolet;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menuContent {
    background: #e0f5ac;
    width: 270px;
    margin-top: -20px;
}

.catalogContent {
    margin-top: -20px;
    background: #e0f5ec;
    width: 870px;
}

header {
    height: 700px;
    background-color: #abeafa;
}

.headerContainer {
    height: inherit;
    background: #912323;
    position: relative;
}

.logo {
    background: url("../images/surfhouse_logo.png") no-repeat;
    display: block;
    height: 111px;
    width: 125px;
    position: absolute;
    left: 70px;
    top: 24px;
}

.socialNetworksIcons {
    position: absolute;
    left: 985px;
    top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 120px;
}

.welcomeMessage {
    position: absolute;
    left: 0;
    top: 336px;
    width: 270px;
    height: 300px;
    background: #fff51f;
}

.welcomeMessageHeader {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;   
    color: #333333;
    width: 199px;
    margin-top: 78px;
    margin-right: 46px;
    margin-bottom: 0px;
    margin-left: 26px;
    
    /* margin: 82px, 46px, 0px, 45px; */
    /* margin-top: 82px; */
}

.welcomeMessageText {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 14px;
    color: #333333;
    width: 220px;
    margin-top: 22px;
    margin-left: 20px;
    /* text-align: justify; */
    
}

.jpFunride {
    position: absolute;
    left: 748px;
    top: 244px;
    width: 315px;
}

.jpFunrideHeader {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 34px;
    text-transform: uppercase;   
    color: #fff51f; 
}

.jpFunrideText {
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-stretch: ultra-condensed;
    line-height: 24px;
    font-weight: 400;
    color: #fff51f;
}

.socialNetworksIcons i {
    color: white;
}

footer {
    height: 351px;
    background-color: #373737;
}

.footerContainer {
    height: inherit;
    background-color: #b3e8f5;
}


