html, body {
    margin: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.content {
    background-color: #eaeaea;
}

.contentContainer {
    background-color: blueviolet;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menuContent {
    background: #e0f5ac;
    width: 270px;
    margin-top: -20px;
}

.catalogContent {
    margin-top: -20px;
    background: #e0f5ec;
    width: 870px;
}

header {
    height: 700px;
    background-color: #abeafa;
}

.headerContainer {
    height: inherit;
    background: #912323;
    position: relative;
}

.logo {
    background: url("../images/surfhouse_logo.png") no-repeat;
    display: block;
    height: 111px;
    width: 125px;
    position: absolute;
    left: 70px;
    top: 24px;
}

.socialNetworksIcons {
    position: absolute;
    left: 900px;
    top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 120px;
}

.socialNetworksIcons i {
    color: white;
}

footer {
    height: 351px;
    background-color: #373737;
}

.footerContainer {
    height: inherit;
    background-color: #b3e8f5;
}


